<div class="ads" style="margin-top: 0 !important;">
    <!-- real-display-ad1 -->
    <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px"
        data-ad-client="ca-pub-5207543454842727" data-ad-slot="8086748049"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>