<div class="ads 320-native">
    <script type="text/javascript">
        atOptions = {
            'key' : '23e59ab628b8cf0eaa5ead495e067adc',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/23e59ab628b8cf0eaa5ead495e067adc/invoke.js"></scr' + 'ipt>');
    </script>
</div>