<div class="subiri" id="subiri">
    <div class="subiri-top"></div>
    <div class="subiri-body" id="subiri-body">
        <div class="spinner-4"></div>
        <div class="get-file" id="get-file">
            <button id="btn-get-file"></button>
        </div>
    </div>
</div>

<script>
    function subiriFn() {
        let hash = window.location.hash
        let scroll_btn = document.getElementById('btn-get-file')
        if (hash.includes('#getting') || hash.includes('#adding')) {
            let count = 5;

            let interval = setInterval(() => {
                count--
                document.querySelector('.subiri-top').innerText = 'Fetching Video Info... ' + count

                if (count == 0) {
                    clearInterval(interval)
                    the_scroll_btn.style.display = 'block'
                    document.querySelector('.subiri-top').innerHTML = '<i style="color: green;" class="fa-solid fa-circle-check"></i> Data Fetched Successfully'
                    document.querySelector('.spinner-4').style.display = 'none'

                    if (hash.includes('#getting-full-show')) {
                        document.querySelector('.oh-tg-file').style.display = 'block'
                    }

                    else if (hash.includes('#getting-episode')) {
                        document.querySelector('.ds-tg-file').style.display = 'block'
                    }
                }
            }, 1200)

            document.getElementById('subiri').style.display = 'flex'

            if (hash.includes('#getting-episode')) {
                scroll_btn.innerText = 'Get the Episode'
            }
            else if (hash.includes('#adding-points-dramastore')) {
                scroll_btn.innerText = 'Go to Add Points'
            }
            else if (hash.includes('#getting-full-show')) {
                scroll_btn.innerText = 'Get the Video'
            }
        }
    }

    subiriFn()

    let the_scroll_btn = document.getElementById('btn-get-file')
    the_scroll_btn.addEventListener('click', () => {
        let toAds = document.getElementById('toAds')
        toAds.scrollIntoView({
            behavior: "smooth"
        })
    })
</script>