<div style="padding: 16px;">
    Want to make money, but you’re not sure where to start? Don’t worry, we’ve got you covered.

And you're not alone. Some 16% of adults performed a side gig in the previous month to help them make extra money and, of those, 64% spent less than 20 hours doing those jobs during that period, according to the Economic Well-Being of U.S. Households in 2021 report, released in May 2022 by the Board of Governors of the Federal Reserve System.

NerdWallet rounded up 25 real ways to make money at home, online or out and about. For each potential side job, we list details like what it takes to get started, age requirements and how fast you can get paid. While most people want to make money fast, don’t discount the “slow” gigs, as they may pay more in the long run.

How to make money online

Making money online is the sweet spot people look for in the gig economy. Whether you aspire to be a six-figure social media influencer, or are just looking to supplement your regular income with some online side jobs, we've found some viable options.

1. Pick up freelance work online

Make money online through websites such as Upwork, Fiverr and Freelancer.com. These sites offer opportunities to do a variety of freelance jobs, such as writing, programming, design, marketing, data entry and being a virtual assistant. Fluent in a second language? Check sites such as Gengo or Blend Express, or drum up business through a site of your own. No matter what freelancing you do, keep track of the going rate for the kind of work you provide so you know if you’re charging too much or too little. Learn how to get started on Upwork.

Total time: It can take a while to get your first gig. Setup: 24 hours. How easy to start: Easy, if you have the expertise. How fast you'll get paid: Varies by site.

    Upwork will approve your profile within 24 hours. But keep in mind it can take time to land your first freelance gig.

    Payment varies by site. On Upwork, you're paid after you and the client review the work, 10 days after the billing period ends. On Fiverr, you're paid when the work order is complete, but you can't withdraw funds for 14 days.

    Upwork requires users to be at least 18. Fiverr sets the age requirement at 13. And Freelancer.com requires users to be at least 16.

    Some sites require you be a U.S. citizen or permanent resident.

Money management made easy

NerdWallet tracks your income, bills, and shows you ways to save more.

2. Test websites and apps

Another way to make money from home is on sites like UserTesting.com. You get paid for your thoughts on how well — or not so well — certain websites and apps worked. You’ll have to complete a short test to be accepted, then you’ll be paid depending on the test type. UserTesting.com does not disclose an exact amount.

Total time: Approval time can vary. Setup: Less than an hour. How easy to start: Easy, if you have the tech gear and complete a sample test. Age threshold: 18+. How fast you'll get paid: Seven days.

    You typically need to complete a sample test as part of the application process.

    You will start receiving testing opportunities after your application is approved.

    The timeline for approval can vary.

    You get paid seven days after completing a website or app test.

    Payment is issued via PayPal.

    You need to be at least 18.

    You need a computer, internet connection and microphone.

    Mobile app testers also need an Android or iOS mobile phone or tablet.

    Some sites might have language requirements (e.g., UserTesting.com requires applicants to speak English or German).

3. Pick up tasks on Amazon's Mechanical Turk

Even in the age of automation, some jobs still require a human touch. Companies often outsource those jobs via services like Amazon’s Mechanical Turk. As a “worker,” the tasks you’ll be assigned can be tedious — tagging images, transcribing videos, classifying receipts — and can take anywhere from a few minutes to a few hours. Temporary employers or “requesters” set the price for each task and get to approve the finished product before paying you. That can leave room for scams, so do your research. Join a community like the MTurk Crowd forum, or the MTurk and Turker Nation subreddits, which can steer you away from shifty dealers. These communities and fellow “workers” can answer questions and give a realistic idea of how much money you can expect to make. Read more about Mechanical Turk as a way to make quick money online.

Total time: Several days to find out if you're approved. Setup: Depends on the task you choose. How easy to start: Easy if you have certain skills. Age threshold: 18+. How fast you'll get paid: You get paid following work approval, which can take up to 30 days.

    It’s unclear how long it takes Amazon to review your application, but according to the MTurk subreddit, it can take several days to learn if you were approved or denied.

    After you submit your work, the requester has 30 days to approve it.

    You can have your earnings deposited into your bank account or put on an Amazon gift card.

    You must be at least 18 to register for Mechanical Turk.

    You also need an Amazon account to register for Mechanical Turk.

4. Take surveys for money

You can make money from home by taking online surveys, but don’t expect to be rolling in the dough. Survey sites don’t typically offer a big payoff, and many sites are more useful for earning gift cards than cash. Some of the more popular survey sites include Swagbucks and Survey Junkie. Read our analysis of survey sites to find out which one is best suited for you.

Total time: It will take a while. Setup: Just minutes. How easy to start: Very. Just register and begin. Age threshold: 13 to 18+. How fast you'll get paid: Varies by site.

    Survey sites could be an option for how to make money online for beginners because you can register with a site and start taking surveys in a matter of minutes.

    The time it takes to get paid depends on the survey site and how much time you dedicate to taking surveys.

    Some sites let you cash out only after you hit a minimum earnings threshold.

    Other survey sites issue points, which can be redeemed for cash (via PayPal) or gift cards.

    Most survey sites have a minimum age requirement, which ranges from 13 to 18 (depending on the site) making these sites one idea for teens to make money online.

    Individual surveys may have specific requirements. Don't be surprised if you are disqualified from a survey without much explanation.

5. Make money from your blog as an affiliate

If you’re a blogger who gets decent traffic, you could make money by joining an affiliate network. Affiliates (that’s you) get paid when someone clicks through from the website to the partner site and buys something there. Some bloggers make a lot of money this way. Read more about affiliate marketing and other ways bloggers can make money.

Total time: It can take quite a while to build an audience. Setup: With blog templates, building a site is easy. How easy to start: Starting is not that difficult. Creating regular content may be another matter. Age threshold: Any. How fast you'll get paid: A month or two, on average.

    First, you need a blog, social media account or other online presence that draws a healthy number of visitors each month.

    Then, you need to apply for and be approved by an affiliate marketing network like CJ Affiliate, ShareASale, FlexOffers, Rakuten Advertising or Amazon Associates.

    Payment schedules and thresholds vary by affiliate network, but expect to wait at least a month or two for your first paycheck.

    Amazon Associates pays out earnings 60 days after the end of the calendar month in which they were earned. You must have a balance of at least $10 for earnings to be disbursed.

    ShareASale disburses earnings on the 20th of each month.

    A blog, social media account or other online presence that attracts a steady stream of visitors.

6. Sell your wares on Etsy

Have a penchant for woodworking, jewelry-making, embroidery or pottery? Sell your goods on Etsy, the go-to site for artisans selling home goods, art and knickknacks. Etsy boasted about 96 million active buyers and grossed over $13.5 billion in merchandise sales in 2021, according to data from Statista. Learn more about how to make money on Etsy.

Total time: It might take quite a while for customers to find you. Setup: Can be quite involved. How easy to start: Leaning toward "hard" on the difficulty meter. Age threshold: 13+. How fast you'll get paid: From the next day to seven days after a sale.

    Opening an Etsy shop is the easy part. It can be done in a few hours.

    The prep work before you open up shop is more time-consuming. You need merchandise to sell, photos and descriptions to post, a name for your shop and a business plan to help you succeed. Once that’s done, you’ll still need to find customers. Depending on what you’re selling, that could take weeks, which is why you should expect the overall time for this gig to be slow.

    Once you sell an item, payment is deposited into your Etsy Payments account.

    In your first 90 days as a seller: Funds are available to deposit seven days after a sale.

    After your first 90 days, funds are available for deposit the next business day.

    If you’re over 13 years old but under age 18, you can sell on Etsy but would be considered a minor and must follow extra policies.

    You need to have all necessary rights to the merchandise sold in your shop.
</div>