<footer>
    <div class="left">
        <h3>Tanzanian Universities | Courses & Admission Requirements</h3>
        <h4>© <script>document.write(new Date().getFullYear());</script> All rights reserved</h4>
    </div>
    <div class="right">
        <ul>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/terms">Terms of Use</a></li>
            <li><a href="/disclaimer">Disclaimer</a></li>
        </ul>
    </div>
</footer>