<section class="right">
    <h2 class="h2" style="font-size: 16px;">Important Items</h2>
    <div class="cont">
        <div class="num kitu" itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="brand">TCU NUMBER</h3>
            <a href="tel:+255-22-2113694" class="phn" itemprop="telephone">
                📞 +255-22-2113694
            </a>
        </div>
        <div class="num kitu" itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="brand">TCU E-MAIL</h3>
            <a href="mailto:info@tcu.go.tz;" class="phn" itemprop="email">
                ✉️ tcu.go.tz
            </a>
        </div>
        <div class="num kitu" itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="brand">TCU WEBSITE 🔗</h3>
            <a href="http://www.tcu.go.tz/" target="_blank" class="latra" itemprop="url">
                TCU SITE
            </a>
        </div>
        <div class="num kitu" itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="brand">TCU ADDRESS</h3>
            <ul class="phn" itemprop="address">
                <li>P.O. Box 6562</li>
                <li>11479</li>
                <li>7 Magogoni Street Dar es Salaam</li>
            </ul>
        </div>
    </div>
</section>